@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
.nav {
     position: fixed;
     width: 100%;
     top: 0;
     backdrop-filter: blur(300px);
}

body{
     background-image: url("bg1.webp");
     background-size: cover;
}
.body_main{
     margin-top: 12%;
}

.body_main h1 {
     display: inline-block;
     font-size: 3vw;
     margin-left: 6%;
     
     font-family: 'Jost', sans-serif;
     text-shadow: 2px 2px pink;
}
.body_main .reviews{
     margin-left: 2%;
     
     font-family: 'Jost', sans-serif;
}
.reviews{
     display: grid;
     grid-template-columns: auto auto;
}
.reviews img{
     width: 600px;
     margin: 20px;
     box-shadow: 2px 2px 2px 2px gray;
}


@media only screen and (max-width: 550px){
     .body_main{
          margin-top: 40%;
          margin-bottom: 25%;
     }
     .body_main h1 {
          
          font-size: 2.2em;
          
     }
     .reviews{
          margin-left: 0;
          display: block;
     }
     .reviews img{
          margin: 3px;
          margin-bottom: 6px;
          width: 100%;
     }

}